<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>Vue.js 演習問題</title>

    <link rel="stylesheet" href="style.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>

  <body>
    <h2>いろいろな型のデータを表示する演習</h2>

    <div id="app">
      <template v-for="pref in prefs">
        <label>
          <input type="checkbox" v-model="myTravel" />{{pref}} </label>
      </template>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          prefs: ["A", "B", "C"],
          myTravel: [],
        }
      });
    </script>
  </body>
</html>
